@font-face {
  font-family: "Work Sans Light";
  src: url("./fonts/WorkSans-Light.ttf");
}
@font-face {
  font-family: "Work Sans Regular";
  src: url("./fonts/WorkSans-Regular.ttf");
}
@font-face {
  font-family: "Work Sans Medium";
  src: url("./fonts/WorkSans-Medium.ttf");
}
@font-face {
  font-family: "Work Sans SemiBold";
  src: url("./fonts/WorkSans-SemiBold.ttf");
}
@font-face {
  font-family: "Work Sans Bold";
  src: url("./fonts/WorkSans-Bold.ttf");
}
@font-face {
  font-family: "Work Sans Black";
  src: url("./fonts/WorkSans-Black.ttf");
}
@font-face {
  font-family: "Work Sans SemiBold Italic";
  src: url("./fonts/WorkSans-SemiBoldItalic.ttf");
}
@font-face {
  font-family: "Work Sans Black Italic";
  src: url("./fonts/WorkSans-BlackItalic.ttf");
}
/** ROBOTO CONDENSED TYPOS **/
/** ROBOTO CONDENSED TYPOS **/
/** ROBOTO CONDENSED TYPOS **/
@font-face {
  font-family: "Roboto Condensed Regular";
  src: url("./fonts/RobotoCondensed-Regular.ttf");
}
@font-face {
  font-family: "Roboto Condensed Bold";
  src: url("./fonts/RobotoCondensed-Bold.ttf");
}
@font-face {
  font-family: "Roboto Condensed Light";
  src: url("./fonts/RobotoCondensed-Light.ttf");
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  visibility: hidden;
}

@keyframes show-modal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hide-modal {
  from {
    visibility: visible;
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes animati {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
html {
  background-color: #FCFCFC;
}

body {
  padding: 3rem 0 0 0;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

main {
  margin: 0;
  padding: 0;
  border: 0;
}

figure.picture img {
  position: relative;
  top: 50%;
  left: 50%;
  width: auto;
  height: 100%;
  transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
}

figure img::selection {
  color: transparent;
}

a {
  color: inherit;
  text-decoration: inherit;
}

p a {
  font-weight: bold;
  text-decoration: underline;
}
p b {
  font-weight: bold;
}
p em {
  font-style: italic;
}

header.header {
  width: 50vw;
  margin: 0 auto 75px auto;
}
header.header .header__title {
  font-family: "Work Sans Black Italic", fantasy, sans-serif;
  font-size: 64px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin-bottom: 28px;
}
header.header .header__title::selection {
  color: #F3F3F3;
}
header.header .header__subtitle {
  font-family: "Roboto Condensed Regular", cursive, sans-serif;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 10px;
}
header.header .header__subtitle .emphazised {
  color: #B208FA;
}
header.header .header__subtitle .emphazised::selection {
  background-color: #B208FA;
  color: #F3F3F3;
}
header.header .header__separator {
  display: flex;
  justify-content: center;
  margin-bottom: 44px;
}
header.header .header__separator .dot {
  display: inline-block;
  width: 28px;
  height: 28px;
  border-radius: 25px;
  margin-right: 24px;
  background-color: #B208FA;
}
header.header .header__separator .dot:last-child {
  margin-right: 0;
}
header.header .header__terms {
  font-family: "Roboto Condensed Light", sans-serif, cursive;
  font-size: 16px;
  font-weight: 300;
  color: #838383;
  letter-spacing: 0.05em;
}
header.header .header__shadow {
  width: 668px;
  height: 69px;
  margin: 0 auto;
  background: radial-gradient(50% 50% at 50% 50%, #727272 0%, rgba(168, 168, 168, 0) 100%);
  opacity: 0.25;
}

.header *::selection {
  background-color: #B208FA;
}

.header--subtitleless {
  padding: 0.5px;
}
.header--subtitleless .header__subtitle {
  display: none;
}
.header--subtitleless .header__terms {
  display: none;
}
.header--subtitleless .header__shadow {
  display: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
  margin-top: 25px;
  padding: 40px 150px 20px 100px;
  background: #B208FA;
  background: linear-gradient(0deg, #B208FA 0%, rgba(178, 8, 250, 0.88) 100%);
}
.footer .footer__questions {
  width: 356px;
  height: 225px;
  padding-right: 10px;
  overflow: auto;
}
.footer .footer__links {
  height: 150px;
}
.footer .footer__links .link {
  margin-bottom: 27px;
  font-family: "Work Sans Regular", Tahoma, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: #FFF;
}
.footer .footer__links .link--active {
  font-weight: bolder;
}

.footer__questions .question__row {
  font-size: 16px;
  margin-bottom: 20px;
  color: #FFF;
}
.footer__questions .question__row .question {
  font-family: "Work Sans Medium", Verdana, Tahoma, sans-serif;
  font-size: 1em;
  letter-spacing: 0.075em;
  margin-bottom: 10px;
}
.footer__questions .question__row .answer {
  font-family: "Roboto Condensed Regular", Georgia, Verdana, Tahoma, sans-serif;
  font-size: 1em;
  letter-spacing: 0.05em;
  line-height: 18.75px;
  padding-left: 10px;
}

button {
  padding: 10px 20px;
  border-style: solid;
  border-width: 1px;
  border-color: #B208FA;
  border-radius: 14px;
  font-family: "Roboto Condensed Light", serif;
  font-size: 36px;
  letter-spacing: 0.05em;
  background-color: #B208FA;
  color: #F3F3F3;
  cursor: pointer;
}

button:focus {
  outline-width: 2px;
  outline-color: #B208FA;
  outline-offset: 5px;
}

button:disabled {
  opacity: 0.5;
}

/* Button Classes.. */
button.secondary {
  background-color: #FFF;
  color: #B208FA;
}

button.white {
  border-color: #FFF;
  background-color: transparent;
  color: #FFF;
}
button.white:focus {
  outline-color: #FFF;
  outline-style: outset;
}

/* Button Size Classes.. */
button.md {
  font-size: 26px;
  padding: 10px 15px;
  border-radius: 10px;
}

button.sm {
  font-size: 18px;
  padding: 5px 7px;
  border-radius: 14px;
}

input[type=text],
input[type=email],
input[type=number] {
  font-family: "Roboto Condensed Regular", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  color: inherit;
  min-width: 100px;
  border: inherit;
  box-sizing: border-box;
}
input[type=text]::-webkit-placeholder,
input[type=email]::-webkit-placeholder,
input[type=number]::-webkit-placeholder {
  color: #E3E3E3;
}
input[type=text]::-moz-placeholder,
input[type=email]::-moz-placeholder,
input[type=number]::-moz-placeholder {
  color: #E3E3E3;
}
input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=number]::placeholder {
  color: #E3E3E3;
}
input[type=text]:focus,
input[type=email]:focus,
input[type=number]:focus {
  color: #B208FA;
  border: 0.75px solid #B208FA;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(178, 8, 250, 0.2);
}
input[type=text]:invalid,
input[type=email]:invalid,
input[type=number]:invalid {
  color: #FF3F3F;
  border: 0.75px solid #FF3F3F;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(255, 63, 63, 0.2);
}

input[type=checkbox],
input[type=radio] {
  visibility: hidden;
}

textarea {
  box-sizing: border-box;
  width: 335px;
  height: 300px;
  min-width: 275px;
  min-height: 150px;
  padding: 20px;
  border: 0.75px solid #E3E3E3;
  border-radius: 30px;
  outline-color: transparent;
  font-family: "Work Sans Light", sans-serif;
  font-size: 18px;
  letter-spacing: -0.05em;
  text-transform: none;
  line-height: 1.333;
  resize: none;
}
textarea:focus {
  color: #B208FA;
  border: 0.75px solid #B208FA;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(178, 8, 250, 0.2);
}
textarea:invalid {
  color: #FF3F3F;
  border: 0.75px solid #FF3F3F;
  outline: 0;
  box-shadow: 0 0 0 3px rgba(255, 63, 63, 0.2);
}

form label {
  font-family: "Work Sans Light", sans-serif;
  font-size: 20px;
  color: #838383;
  cursor: pointer;
  transition: color 75ms linear;
}

/***         ***/
/*** CLASSES ***/
/***         ***/
input.form-input {
  width: 335px;
  padding: 15px 10px;
  border: 0.75px solid #E3E3E3;
  border-radius: 50px;
  font-family: "Roboto Condensed Light", sans-serif;
  font-size: 28px;
  letter-spacing: -0.045em;
  text-align: center;
  color: #838383;
}

input.white-input {
  font-family: "Roboto Condensed Light", Helvetica, Arial, Tahoma, Verdana, sans-serif;
  font-size: 24px;
  text-align: center;
  letter-spacing: -0.025em;
  padding: 10px 20px;
  border: 1px solid #FFF;
  border-radius: 50px;
  background-color: transparent;
  color: #FFF;
}
input.white-input:focus {
  border: 1px solid #FFF;
  color: #FFF;
}

/***                                            ***/
/*** Visual helpers For Check & Radio boxes.. ***/
/***                                            ***/
.checkbox-figure {
  display: block;
  width: 26px;
  height: 26px;
  margin: 10px;
  border: 0.75px solid #E3E3E3;
  border-radius: 2px;
  background-color: #FFF;
  transition: border 75ms linear;
}

/***                     ***/
/*** Custom Components.. ***/
/***                     ***/
.form-selection-wrapper {
  position: relative;
  cursor: pointer;
}
.form-selection-wrapper .form-input {
  position: relative;
  z-index: 6;
  letter-spacing: 0.05em;
  cursor: pointer;
}
.form-selection-wrapper .form-input::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-color: #000 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.form-selection-wrapper .option-list {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-shadow: 0px 2px 13px rgba(0, 0, 0, 0.08);
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  width: 335px;
  padding: 70px 20px 25px 20px;
  border: 0.75px solid #E3E3E3;
  border-radius: 30px;
  background-color: #FFF;
}
.form-selection-wrapper .option-list .option {
  margin-bottom: 1px;
  padding: 15px 0;
  border-bottom: 1px solid #E3E3E3;
  font-family: "Roboto Condensed Light", sans-serif;
  font-size: 28px;
  letter-spacing: 0.05em;
  text-align: center;
  color: #838383;
  background-color: #FFF;
  cursor: pointer;
  transition: background-color 150ms linear;
}
.form-selection-wrapper .option-list .option:hover {
  background-color: #F3F3F3;
}
.form-selection-wrapper .arrow {
  position: absolute;
  right: 20px;
  top: 50%;
  z-index: 7;
  transform: translateY(-50%);
  transition: transform 200ms ease-in-out;
}

.form-selection-wrapper.menu-opened {
  display: block;
}
.form-selection-wrapper.menu-opened .option-list {
  display: initial;
}
.form-selection-wrapper.menu-opened .arrow {
  transform: translateY(-50%) rotate(0.5turn);
}

.toolbar__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 480px;
  margin: 0 auto;
  margin-bottom: 75px;
  border: 0.75px solid #E3E3E3;
  border-radius: 30px;
  background-color: #FFF;
  overflow: hidden;
}
.toolbar__search .toolbar__icon {
  flex-grow: 0;
  width: 36px;
  height: 36px;
  margin-right: 20px;
}
.toolbar__search .toolbar__icon svg {
  width: 100%;
  height: 100%;
  fill: #E3E3E3;
}
.toolbar__search .toolbar__input {
  flex-grow: 1;
  font-size: 28px;
  color: #838383;
  margin-right: auto;
  padding: 20px 5px 20px 30px;
  border: 0;
}
.toolbar__search .toolbar__input:focus {
  border: 0;
  outline: 0;
  box-shadow: 0 0 0 0 transparent;
}

.toolbar--focused {
  border-color: #B208FA;
  box-shadow: 0 3px 12px -4px rgba(178, 8, 250, 0.19);
}
.toolbar--focused .toolbar__icon svg {
  fill: #B208FA;
}
.toolbar--focused .toolbar__input {
  color: #B208FA;
}

.document-card {
  box-shadow: 0px 4px 35px 5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 4px 35px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 4px 35px 5px rgba(0, 0, 0, 0.08);
  width: 1050px;
  margin: 25px auto 150px auto;
  padding: 50px;
  text-transform: uppercase;
  background-color: #FFF;
  color: #000;
}
.document-card .document__heading,
.document-card .document__legalheading,
.document-card .document__legalterm {
  margin-bottom: 50px;
  padding: 0.5px;
}
.document-card .document__heading {
  font-family: "Work Sans Bold", serif;
  font-size: 54px;
  letter-spacing: 0.075em;
  text-align: center;
}
.document-card .document__legalheading {
  font-family: "Work Sans Light", serif;
  font-size: 36px;
  letter-spacing: -0.025em;
  text-align: center;
}
.document-card .document__legalterm {
  font-family: "Roboto Condensed Light", sans-serif;
  font-size: 20px;
  line-height: 170%;
  margin-bottom: 30px;
}

.document-card form {
  margin-top: 100px;
}
.document-card form .row {
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}
.document-card form .row label {
  max-width: 100px;
  margin-right: auto;
}
.document-card form .row-single {
  justify-content: center;
}
.document-card form .row-single label {
  max-width: initial;
  margin-right: initial;
}
.document-card form .row--onfocus label {
  color: #B208FA;
}
.document-card form .row--onfocus .checkbox-figure {
  border-color: #B208FA;
}
.document-card form .row--onerror .error-message {
  display: block;
}
.document-card form button {
  display: block;
  margin: auto;
}

.card {
  box-shadow: 0px 4px 35px 5px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 4px 35px 5px rgba(0, 0, 0, 0.08);
  -moz-box-shadow: 0px 4px 35px 5px rgba(0, 0, 0, 0.08);
  position: relative;
  display: flex;
  width: 1140px;
  height: 510px;
  margin: 0 auto 75px auto;
  background-color: #FFF;
  overflow: hidden;
}
.card::selection {
  background: transparent;
  color: inherit;
}

.card .card__carrousel {
  position: relative;
  left: 0;
  width: 540px;
  height: 100%;
  overflow: hidden;
  transition: transform 750ms ease-in-out;
  -webkit-transition: transform 750ms ease-in-out;
  -moz-transition: transform 750ms ease-in-out;
  -o-transition: transform 750ms ease-in-out;
}
.card .card__carrousel .carrousel__controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
.card .card__carrousel .carrousel__controls .carrousel__control {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 20px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  background-color: #F3F3F3;
  cursor: pointer;
}
.card .card__carrousel .carrousel__controls .carrousel__control:last-child {
  margin-right: 0;
}
.card .card__carrousel .carrousel__controls .carrousel__control--active {
  background-color: #B208FA;
}
.card .card__carrousel .carrousel__pictures {
  position: relative;
  width: 540px;
  height: 100%;
  transition: transform 150ms ease-in-out;
}
.card .card__carrousel .carrousel__pictures figure {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: filter 100ms linear;
  -webkit-transition: filter 100ms linear;
  -moz-transition: filter 100ms linear;
  -o-transition: filter 100ms linear;
  filter: saturate(0%);
  -webkit-filter: saturate(0%);
}
.card .card__carrousel .carrousel__pictures figure img {
  display: block;
  width: 100%;
}
.card .card__carrousel .carrousel__pictures figure:hover {
  filter: saturate(100%) contrast(1.125);
  -webkit-filter: saturate(100%) contrast(1.125);
}
.card .card__carrousel .carrousel__pictures figure:nth-child(2) {
  left: 100%;
}
.card .card__carrousel .carrousel__pictures figure:nth-child(3) {
  left: 200%;
}

.card .card__content {
  position: relative;
  left: 0;
  display: flex;
  display: -webkit-flex;
  display: -moz-flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding: 5px 0 5px 0;
  background-color: #FFF;
  transition: transform 750ms ease-in-out;
  -webkit-transition: transform 750ms ease-in-out;
  -moz-transition: transform 750ms ease-in-out;
  -o-transition: transform 750ms ease-in-out;
}
.card .card__content .content__header {
  position: relative;
  width: 100%;
  padding: 10px 0;
}
.card .card__content .content__header .content__sitecode {
  font-family: "Work Sans Bold", serif;
  font-size: 54px;
  letter-spacing: 0.01em;
  text-align: center;
  text-transform: uppercase;
}
.card .card__content .content__header .content__link {
  position: absolute;
  bottom: 0px;
  left: 50%;
  display: none;
  padding: 5px 15px;
  border-radius: 20px;
  font-family: "Work Sans SemiBold", sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  color: #FFF;
  background-color: #000;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  cursor: pointer;
}
.card .card__content .content__header .content__link::before {
  content: "";
  position: absolute;
  left: 50%;
  top: -19px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border-color: transparent transparent #000 transparent;
  border-style: solid;
  border-width: 10px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
}
.card .card__content .content__price .content__subtitle {
  font-family: "Work Sans Regular", serif;
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.05em;
  margin-bottom: 20px;
}
.card .card__content .content__price .content__montlyprice {
  font-family: "Roboto Condensed Regular", serif;
  font-size: 32px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: line-through;
  letter-spacing: 0.05em;
  color: #B208FA;
  opacity: 0.3;
  opacity: filter(50%);
}
.card .card__content .content__price--emphazised .content__subtitle {
  font-size: 28px;
}
.card .card__content .content__price--emphazised .content__montlyprice {
  font-size: 40px;
  text-decoration: none;
  opacity: 1;
  opacity: filter(100%);
}
.card .card__content .content__buybutton {
  margin-top: 30px;
}
.card .card__content .content__slidders {
  position: relative;
  height: 7px;
  padding-bottom: 20px;
}
.card .card__content .content__slidders .content__slidder {
  display: inline-block;
  width: 125px;
  height: 7px;
  margin-right: 10px;
  border-radius: 25px;
  background-color: #E3E3E3;
  transition: background-color 100ms linear;
  -webkit-transition: background-color 100ms linear;
  -moz-transition: background-color 100ms linear;
  -ms-transition: background-color 100ms linear;
  -o-transition: background-color 100ms linear;
  cursor: pointer;
}
.card .card__content .content__slidders .content__slidder:nth-last-child(1) {
  margin-right: 0;
}
.card .card__content .content__slidders .content__slidder--active {
  background-color: #B208FA;
}

/*  ***  */
/*Make Link Tooltip Appear within the header of Card component. */
/*  ***  */
.content__header:hover > .content__link {
  display: inline-block !important;
  bottom: -25px !important;
}

.card .card__subsites {
  position: absolute;
  right: -55%;
  display: flex;
  width: 600px;
  height: 100%;
  overflow: hidden;
  transition: transform 800ms ease-in-out;
  -webkit-transition: transform 800ms ease-in-out;
  -moz-transition: transform 800ms ease-in-out;
  -ms-transition: transform 800ms ease-in-out;
  -o-transition: transform 800ms ease-in-out;
}
.card .card__subsites .subsites__subtitle {
  position: absolute;
  top: 25px;
  left: 50%;
  z-index: 3;
  padding: 10px 20px;
  border-radius: 100px;
  font-family: "Work Sans Bold", monospace;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.1em;
  text-shadow: 0 0 4px black;
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  color: #FFF;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.card .card__subsites .subsites__screens {
  position: relative;
  display: flex;
  height: 100%;
}
.card .card__subsites .subsites__screens .subsites__screen {
  position: relative;
  width: 320px;
  height: 100%;
  overflow: hidden;
}
.card .card__subsites .subsites__screens .subsites__screen:hover .screen__picture {
  filter: saturate(1.1);
  -webkit-filter: saturate(1.1);
}
.card .card__subsites .subsites__screens .subsites__screen .screen__picture {
  width: 100%;
  filter: saturate(0);
  -webkit-filter: saturate(0);
  transition: filter 200ms ease-out;
}
.card .card__subsites .subsites__screens .subsites__screen .subsite__logo {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 5;
  width: 205px;
  transform: rotate(8deg) translateX(-50%);
  -webkit-transform: rotate(8deg) translateX(-50%);
  -moz-transform: rotate(8deg) translateX(-50%);
  -ms-transform: rotate(8deg) translateX(-50%);
}
.card .card__subsites .subsites__screens .subsites__screen .subsite__logo img {
  width: 100%;
}

.card .card__status {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
  width: 10px;
  height: 100%;
  background-color: #25FF21;
}

/* =========================
Modifiers of Card component. 
============================ */
.card--second-phase .card__carrousel {
  transform: translateX(-15%);
}
.card--second-phase .card__content {
  transform: translateX(-95%);
}
.card--second-phase .card__subsites {
  transform: translateX(-100%);
}

.card--unavailable .card__status {
  background-color: #FF3F3F;
}
.card--unavailable .content__buybutton.disabled {
  opacity: 0.25;
}

#modal-overlay {
  visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  background-color: black;
  opacity: 0.25;
}

.modal {
  box-shadow: 0 -3px 42px 0 rgba(0, 0, 0, 0.36);
  -webkit-box-shadow: 0 -3px 42px 0 rgba(0, 0, 0, 0.36);
  -moz-box-shadow: 0 -3px 42px 0 rgba(0, 0, 0, 0.36);
  visibility: hidden;
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: 102;
  display: flex;
  display: flexbox;
  display: -ms-flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  height: 530px;
  background-repeat: no-repeat;
  background-position: center center;
  background-clip: border-box;
  background-size: cover;
  background-blend-mode: luminosity;
  background-color: black;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.modal--visible + #modal-overlay {
  visibility: visible;
}

.modal .modal__content {
  width: 450px;
  padding: 20px 10px 40px 10px;
  background-color: rgba(0, 0, 0, 0.36);
  color: #FFF;
}
@supports (backdrop-filter: blur(10px)) {
  .modal .modal__content {
    background-color: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}
.modal .modal__content .content__heading {
  font-family: "Work Sans Bold", serif;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.025em;
  margin-bottom: 20px;
  color: inherit;
}
.modal .modal__content .content__note {
  font-family: "Roboto Condensed Light", Verdana, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.025em;
  line-height: 28px;
  margin-bottom: 40px;
}
.modal .modal__content .content__note .website {
  text-decoration: underline;
  font-weight: bolder;
}
.modal .modal__content form {
  padding-bottom: 20px;
}
.modal .modal__content form input.white-input {
  display: block;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}
.modal .modal__content form button {
  display: block;
  margin: 0 auto;
}

.modal--hide {
  visibility: hidden;
  animation-name: hide-modal;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
}

.modal--visible {
  visibility: visible;
  animation-name: show-modal;
  animation-duration: 200ms;
  animation-timing-function: ease-out;
}

.card__loader {
  width: 450px;
  margin: 0 auto;
  padding: 10px 0;
  border: 5px solid #E3E3E3;
  border-radius: 15px;
  font-family: "Roboto Condensed Bold", sans-serif;
  font-size: 36px;
  text-align: center;
  letter-spacing: 0.1em;
  color: #E3E3E3;
  transition: opacity 150ms linear;
}

.card__loader.hidden {
  opacity: 0;
}

.alert {
  box-shadow: 0px 2px 18px 2px rgba(0, 0, 0, 0.22);
  position: relative;
  left: 50%;
  display: inline-flex;
  display: -webkit-inline-flex;
  display: -ms-inline-flex;
  align-items: center;
  width: auto;
  margin: 0 auto 25px auto;
  padding: 20px;
  background-color: #B208FA;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
.alert .alert__ico {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}
.alert .alert__ico::selection {
  background-color: transparent;
}
.alert .alert__ico::-webkit-selection {
  background-color: transparent;
}
.alert .alert__title {
  font-family: "Work Sans SemiBold Italic", serif;
  font-size: 24px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFF;
  margin-right: 10px;
}
.alert .alert__text {
  display: inline-block;
  font-family: "Roboto Condensed Light";
  font-size: 20px;
  letter-spacing: -0.05em;
  color: #FFF;
}

.alert--error {
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.07);
  background-color: #FFF;
  color: #B208FA;
}
.alert--error .alert__ico {
  fill: red;
}
.alert--error .alert__title {
  color: inherit;
}
.alert--error .alert__text {
  color: inherit;
}

/*# sourceMappingURL=style.css.map */
