// # COLORS
$main-color: #B208FA;

$mega-white: #FFF;
$bone-color: #F3F3F3;
$mega-black: #000;
$mega-gray: #838383;
$secondary-gray: #E3E3E3;
$alternative-gray: #E3E3E3;

$success: #25FF21;
$err: #FF3F3F;

// # MEASURE UNITS
$card-carrousel-width: 38vw;
$card-screens-width: 40vw;