.card__loader {
    width: 60%;
    margin: 0 auto;
    padding: 10px 0;
    border: 5px solid $alternative-gray;
    border-radius: 15px;

    font-family: 'Roboto Condensed Bold', sans-serif;
    font-size: 36px;

    text-align: center;
    letter-spacing: 0.1em;

    color: $alternative-gray;

    transition: opacity 150ms linear;
}

.card__loader.hidden {
    opacity: 0;
}


/***************************/
/** RESPONSIVE WEB DESIGN **/
/***************************/

@media screen and (max-width: 600px) {
    .card__loader {
        width: 75%;
        font-size: 32px;
        border-width: 3px;
    }
}


@media screen and (max-width: 400px) {
    .card__loader {
        width: 85%;
        font-size: 30px;
    }
}